ul#results {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul#results li {
    padding: 1em 0;
    border-bottom: solid 1px #b37d3b87;
}
ul#results li>div>* {
    margin-left: 1em
}
ul#results li:last-child {
    border: none;
}
.correct {
    color: green;
}
.incorrect {
    color: red;
}
@media screen and (min-width: 700px) {
  ul#results {
    width: 40vw;
    margin: auto;
  }
  ul#results li>div {
    width: 30vw;
    margin: auto;
    display: flex;
    justify-content: space-between
  }
}